<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - movieGEN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color : whitesmoke ; border-bottom :5px solid gray">
        <div class="navbar-header col-md-12">
            <button class="rounded float-left" onclick="location.href='@Url.Action("index","Home")'">Gestionnaire de Films</button>
            <a class="rounded float-right" asp-controller="Home" asp-action="About">About</a>
        </div>
    </nav>

    <div class="">
        @RenderBody()
    </div>
    <div id="footer" class="footer col-md-10">
        <footer>
            &copy; 2019 - movieGEN.
        </footer>
    </div>
    @*<div id="footer2" class="footer col-md-2">
            <footer>
                <email display="Contacter l'équipe technique" domain="cegepsth.qc.ca" prefix="bonjour"></email>
            </footer>
        </div>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
